#
#	Library KConfig
#
############################################################

choice
	prompt "Platform"
	default OPENTHREAD_PLATFORM_POSIX

	config OPENTHREAD_PLATFORM_POSIX
		bool "posix"

	config OPENTHREAD_PLATFORM_ATMEGARF
		bool "atmegarf"

	config OPENTHREAD_PLATFORM_CC2538
		bool "cc2538"

endchoice # Platform

config OPENTHREAD_PLATFORM
	string
	default "posix"		if OPENTHREAD_PLATFORM_POSIX
	default "atmegarf"	if OPENTHREAD_PLATFORM_ATMEGARF
	default "cc2538"	if OPENTHREAD_PLATFORM_CC2538

source "$LIBRARY_DIR/stack/openthread/src/Kconfig"